@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#8a2eff, #cce0ff);
    background-repeat: no-repeat;
  
}



.top {
    font-size: 12px;
    display: flex;
    flex-direction: row;   
    padding: 8px;     
}

.top p{
   
    border: 1px solid #cce0ff;
    margin-left: 145px;
    font-family: 'Arvo', serif;
    padding: 3px 4px;
    color: aliceblue;
    border-radius: 5px;

}


.container-1 {
    padding: 60px;
    border-top: 0.5px solid #cce0fff3;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

h1{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: whitesmoke;
}

.container-1 p {
    font-family: 'Arvo', serif;
    font-size: 30px;
    color: white;

}

.container-2, #acceder{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;   
}

label {
    font-family: 'Arvo', serif;
    font-size: 17px;
    color: #6e00d2;
}

#buton-registrar{
    font-family: 'Arvo';
    color: #8a2eff;
    background-color:#eff5ff;
    border-style: none;
    border-radius: 4px;
    padding: 4px 6px;
}

#buton-registrar:active   {
    font-family: 'Arvo';
    color: #eff5ff;
    background-color: #8a2eff;
    border-style: none;
    border-radius: 4px;
    padding: 4px 6px;
}

